## Introduction to Pandas

#### Import Libraries

In [1]:
import pandas as pd
import numpy as np

#### Create the dataset

In [2]:
data = {
    "Name": ["Alice", "Bob", np.nan, "David"],
    "Age": [25, np.nan, 30, 35],
    "Score": [85, 90, np.nan, 88],
}
df = pd.DataFrame(data)

#### Replace Age with mean

In [3]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, np.nan, 30, 35],
    "Score": [85, 90, np.nan, 88],
}
df = pd.DataFrame(data)

#### Replace Score

In [4]:
df["Score"] = df["Score"].fillna(round(df["Score"].mean()))
df["Score"]

0    85.0
1    90.0
2    88.0
3    88.0
Name: Score, dtype: float64

#### Rename Columns

In [5]:
df["Score"] = df["Score"].fillna(round(df["Score"].mean()))
df["Score"]

0    85.0
1    90.0
2    88.0
3    88.0
Name: Score, dtype: float64

#### Concatenate Dataframes

In [6]:
data2 = {
    "Student_Name": ["John", "Max"],
    "Age": [28, 32],
    "Exam_Score": [91, 87]
}
df2 = pd.DataFrame(data2)

In [7]:
data2 = {
    "Student_Name": ["John", "Max"],
    "Age": [28, 32],
    "Exam_Score": [91, 87]
}
df2 = pd.DataFrame(data2)

#### Grouping Data by Categories

In [8]:
data = {
    "Class": ["A", "B", "A", "B", "C", "C"],
    "Score": [85, 90, 88, 72, 95, 80],
    "Age": [15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)

In [9]:
df.groupby("Class").mean()

       Score   Age
Class
A       86.5  15.0
B       81.0  16.5
C       87.5  15.5